<h1>Articles</h1>

<% @articles.each do |article| %>
    <% if user_signed_in? %>
        <h4>
            Post by <%= article.user.name %>
        </h4>
    <%end%>
    <ul>
    <li>
        <%= article.content %>
    </li>
    </ul>
<%end%>

<% if user_signed_in? %>
<%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete } %>
<%end%>
<% unless user_signed_in? %>
<%= link_to "Sign in", new_user_session_path, data: { turbo_method: :get } %>
<%end%>
<% unless user_signed_in? %>
<%= link_to "Sign up", new_user_registration_path, data: { turbo_method: :get } %>
<%end%>