<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <%= form.label :content %><br>
  <%= form.text_field :content %>
  
  <%= form.submit "Create Article" %>
<% end %>

<%= link_to 'Back', articles_path %>